/* General body styles */
body {
  font-family: 'Arial', sans-serif;
  background: url(/background.jpg) center center/cover no-repeat;
  color: #333;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  flex-direction: column; /* Stack the main sections vertically */
}

h1 {
  color: #0d6efd;
}

#tempDisplay, #tempSetControl, #controlPanel, #sensorControl {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: 10px; /* Smaller margin for vertical spacing */
  text-align: center;
}

p {
  margin: 10px 0;
  font-size: 16px;
  color: #555;
}

span {
  display: block;
  font-size: 24px;
  color: #333;
  margin-top: 5px;
}

/* Style for the input form and toggle switch */
#tempSetControl input[type="number"],
#tempSetControl input[type="submit"],
#sensor-select {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: calc(100% - 24px);
}

#tempSetControl input[type="submit"] {
  background-color: #0d6efd;
  color: white;
  cursor: pointer;
}

#tempSetControl input[type="submit"]:hover {
  background-color: #0a58ca;
}

/* Custom styles for the dropdown */
#sensorControl {
  margin-top: 20px;
}

#sensor-select {
  background-color: #f8f9fa;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

#sensor-select:focus {
  border-color: #0d6efd;
  outline: none;
  box-shadow: 0 0 5px rgba(13, 110, 253, 0.5);
}

/* Custom styles for toggle switch */
#controlPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 auto; /* Center the switch */
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #0d6efd;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0d6efd;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Responsive adjustments */
@media (max-width: 600px) {
  body {
      flex-direction: column;
  }
}
